__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
!.gitignore

# Ignore all outputs/ contents except best_model.zip
outputs/
!outputs/best_models/best_model.zip

# Ignore other .zip files globally
*.zip
!best_model.zip  # Exempt if in root

# Ignore logs and other files
*.log
*.npz
*.tfevents
.DS_Store